@font-face{
    font-family: 'AirbnbCerealBook';
    font-style: normal;
    font-weight: normal;
    src: url('../font/AirbnbCerealBook.woff')
    format('woff');
}
#app{
    font-family: 'AirbnbCerealBook';
}