@font-face{
    font-family: 'AirbnbCerealBook';
    font-style: normal;
    font-weight: normal;
    src: url('../font/AirbnbCerealBook.woff')
    format('woff');
}
#app{
    font-family: 'AirbnbCerealBook';
}
a{
    color: rgb(19, 18, 18);
    text-decoration: none;
}
a:hover{
    color: rgb(58, 54, 54);
}
.container-fluid{
    height: 1024px;
}
.app-header{
    /* position: absolute; */
    /* width: 900px; */
    height: 80px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    /* left: 0px;
    top: 6px; */

}
.app-header-right{
    /* position: absolute; */
    /* width: 491px; */
    height: 80px;
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
    /* left: -10px;
    top: 0px; */

}
.app-sidebar{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.app-sidebar-right{
    border: 1px solid #CECECE;
}
.icon-empty{
    margin-top : 20%;
    margin-left: 25%;
}
.number-cart{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    width: 25px;
    height: 25px;
    background: #57CAD5;
    border-radius: 100%;
}
.text-please{
    color: #CECECE;
}
.text-empty{
    margin-top: -30px;
}
.text-price{
    margin-top: -5px;
}
.content{
    background: rgba(190, 195, 202, 0.3);
    padding-right: 24px;
    padding-left: 24px;
}
.content1{
    border-radius: 10px 10px 0px 0px;
    margin-top: 24px;
}
.slider-cart{
    top: 0;
    /* right: -300px; */
    right: -1000px;
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
    width: 400px;
}
.slider-cart-view{
    right: 0 !important;
}
.form-additem{
    background: #FFFFFF;
    border: 1px solid #CECECE;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
/* select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} */
.button-cancel{
    font-size: 20px;
    width: 135px;
    height: 49px;
    background: #F24F8A;
    border-radius: 10px;
    color: #FFFFFF;
}
.button-cancel:hover{
    background-color: #c4245f;
}
.button-cancel:active{
    background-color: #c4245f;
}
.button-add{
    font-size: 20px;
    width: 135px;
    height: 49px;
    background: #57CAD5;
    border-radius: 10px;
    color: #FFFFFF;
}
.button-add:hover{
    background-color: #29b2be;
}
.button-add:active{
    background-color: #29b2be;
}
.db1{
    background: linear-gradient(278.29deg, #FBB2B4 30.05%, rgba(255, 143, 178, 0) 133.19%);
    filter: drop-shadow(10px 15px 10px rgba(255, 143, 178, 0.25));
    border-radius: 10px;
    width: 335px;
    height: 177px;
}
.db2{
    background: linear-gradient(278.29deg, #29DFFF 30.05%, rgba(41, 223, 255, 0) 133.19%);
    filter: drop-shadow(10px 15px 10px rgba(41, 223, 255, 0.25));
    border-radius: 10px;
    width: 335px;
    height: 177px;
}
.db3{
    background: linear-gradient(278.29deg, #AB84C8 30.05%, rgba(241, 201, 236, 0) 133.19%);
    filter: drop-shadow(10px 15px 10px rgba(241, 201, 236, 0.25));
    border-radius: 10px;
    width: 335px;
    height: 177px;
}
.circle11{
    width: 75px;
    height: 75px;
    background: rgba(253, 211, 228, 0.3);
    border-radius: 100%;
    left: 50%;
    top: 30%;
}
.circle12{
    width: 75px;
    height: 75px;
    background: rgba(253, 211, 228, 0.3);
    border-radius: 100%;
    left: 60%;
    top: 20%;
}
.circle13{
    width: 75px;
    height: 75px;
    background: rgba(253, 211, 228, 0.3);
    border-radius: 100%;
    left: 70%;
    top: 10%;
}
.circle21{
    width: 75px;
    height: 75px;
    background: rgba(207, 246, 253, 0.3);
    border-radius: 100%;
    left: 50%;
    top: 30%;
}
.circle22{
    width: 75px;
    height: 75px;
    background: rgba(207, 246, 253, 0.3);
    border-radius: 100%;
    left: 60%;
    top: 20%;
}
.circle23{
    width: 75px;
    height: 75px;
    background: rgba(207, 246, 253, 0.3);
    border-radius: 100%;
    left: 70%;
    top: 10%;
}
.circle31{
    width: 75px;
    height: 75px;
    background: rgba(241, 201, 236, 0.3);
    border-radius: 100%;
    left: 50%;
    top: 30%;
}
.circle32{
    width: 75px;
    height: 75px;
    background: rgba(241, 201, 236, 0.3);
    border-radius: 100%;
    left: 60%;
    top: 20%;
}
.circle33{
    width: 75px;
    height: 75px;
    background: rgba(241, 201, 236, 0.3);
    border-radius: 100%;
    left: 70%;
    top: 10%;
}
.select{
    position: relative;
}
.select:hover::after{
    content: url('../img/tick (1).png');
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 7px 7px 0px 0px;
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
.selected{
    position: relative;
}
.selected::after{
    content: url('../img/tick (1).png');
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 7px 7px 0px 0px;
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
.selected:hover::after{
    content: url('../img/tick (1).png');
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 7px 7px 0px 0px;
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.img-edit {
    border-radius: 7px 7px 0px 0px;
}